<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login UI</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<div class="container">
    <div class="left">
        <h2>Log in</h2>
        <p>to your account</p>

        <form>
            <input type="text" placeholder="username">
            <input type="password" placeholder="password">

            <button type="submit">LOG IN</button>
            <a href="#" class="forgot">Forgot password?</a>
        </form>
    </div>

    <div class="or">or</div>

    <div class="right">
        <h2>Sign in</h2>
        <p>with one of your social profiles</p>

        <div class="social">
            <a class="fb"><i class="fab fa-facebook-f"></i></a>
            <a class="tw"><i class="fab fa-twitter"></i></a>
            <a class="gg"><i class="fab fa-google-plus-g"></i></a>
        </div>

        <p class="signup">
            Don't have an account?<br>
            <a href="#">sign up</a>
        </p>
    </div>
</div>

</body>
</html>
