<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>

 <link rel="stylesheet" href="../../public/css/style.css">


  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

  <div class="container">

    <div class="left-panel">
      <h2>Log in</h2>
      <p>to your account</p>

      <form>
        <input type="text" placeholder="username">
        <input type="password" placeholder="password">

        <button type="submit" class="btn">LOG IN</button>
      </form>

      <a href="#" class="forgot">Forgot password?</a>
    </div>


    <div class="right-panel">
      <div class="overlay">
        <h2>Sign in</h2>
        <p>with one of your social profiles</p>

        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-google-plus-g"></i></a>
        </div>

        <p class="signup-text">
          Don't have an account? <a href="register.html">Sign up</a>
        </p>
      </div>
    </div>

  </div>

</body>
</html>
