<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register Form</title>

 <link rel="stylesheet" href="../../public/css/style.css">


  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

  <div class="container">

    <div class="left-panel">
      <h2>Sign up</h2>
      <p>Create your account</p>

      <form>
        <input type="text" placeholder="Full name">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Confirm password">

        <button type="submit" class="btn">REGISTER</button>
      </form>

      <a href="login.html" class="forgot">Already have an account?</a>
    </div>


    <div class="right-panel">
      <div class="overlay">
        <h2>Welcome!</h2>
        <p>Register with social profiles</p>

        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-google-plus-g"></i></a>
        </div>

        <p class="signup-text">
          Back to <a href="login.html">Log in</a>
        </p>
      </div>
    </div>

  </div>

</body>
</html>
