* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #2f7a86;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 850px;
  height: 450px;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.left-panel {
  width: 50%;
  background: white;
  padding: 60px 50px;
  text-align: center;
}

.left-panel h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

.left-panel p {
  color: gray;
  margin-bottom: 40px;
}

form input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 25px;
  border: 1px solid #ddd;
  outline: none;
  text-align: center;
}

.btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 25px;
  background: #2f7a86;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #25646e;
}

.forgot {
  display: block;
  margin-top: 30px;
  font-size: 13px;
  color: lightgray;
  text-decoration: none;
}

.right-panel {
  width: 50%;
  background: url("../images/BackgroundLoginImage.jpg") center/cover no-repeat;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.55);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay h2 {
  font-size: 35px;
  margin-bottom: 15px;
}

.overlay p {
  font-size: 15px;
  margin-bottom: 30px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  width: 50px;
  height: 50px;
  background: white;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #2f7a86;
  color: white;
}

.signup-text {
  margin-top: 40px;
  font-size: 14px;
}

.signup-text a {
  color: #00d9ff;
  text-decoration: none;
}
