body{
font-family: Arial;
background:#f4f6f8;
margin:0;
padding:0;
}

.container{
width:850px;
margin:auto;
background:white;
padding:25px;
margin-top:40px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1{
text-align:center;
color:#2c3e50;
}

.info{
margin-top:20px;
font-size:17px;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

table th{
background:#3498db;
color:white;
padding:10px;
}

table td{
border:1px solid #ddd;
padding:10px;
text-align:center;
}

.tongtien{
margin-top:20px;
text-align:right;
font-size:18px;
}

.tongtien h2{
color:red;
}

.button{
text-align:center;
margin-top:30px;
}

button{
padding:12px 25px;
margin:5px;
background:#27ae60;
color:white;
border:none;
font-size:18px;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#1e874b;
}

