.sidebar{
    width:250px;
    background:linear-gradient(180deg,#1e3a8a,#2563eb);
    color:#fff;
    padding:20px;
    height: 100vh;         
    position: fixed;        
    left: 0;
    top: 0;
}
.main{
    flex:1;
    padding:25px;
    margin-left:250px;  
}
